<div class="home-container">
    <div class="input-label">
        <h1>Shorten your links</h1>
    </div>
    <form ng-submit="submit()" mehtod='POST'>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="longUrl" placeholder="your original Url here" />
            <div class="info">
                All short URLs and click analytics are public and can be accessed by anyone.
            </div>
        </div>
        <input type="submit" value="SHORTEN URL" class="submit-button" />
    </form>
</div>