<div class="stats-container">
    <div class="stats-info-container">
        <div class="stats-info">
            <h1>Analytics data for <span class="url">{{shortUrl}}</span></h1>
            <h3>Created at {{create_at}}</h3>
            <h3>Original URL: <span class="url">{{longUrl}}</span></h3>
            <div class="stats-clicks">
                <div class="stats-clicks-title">Total Clicks</div>
                <div class="stats-clicks-info">{{ totalClicks }}</div>
            </div>
        </div>

    </div>

    <div class="stats-chart-container" ng-hide="isOpen">
        <h1> Your short URL hasn't been clicked yet!</h1>
    </div>
    <div class="stats-chart-container" ng-show="isOpen">

        <div class="stats-clicks-line">


            <div class="stats-line">
                <div class="panel-heading">
                    Clicks for the past: <a href="javascript:void(0);" ng-click="getTime(hour)"
                                            ng-class="{ 'text-muted': time === 'hour'}">Hour</a>
                    <a href="javascript:void(0);" ng-click="getTime(day)"
                       ng-class="{ 'text-muted': time === 'day'}">Day</a>
                    <a href="javascript:void(0);" ng-click="getTime(month)"
                       ng-class="{ 'text-muted': time === 'month'}">Month</a>
                </div>
                <div class="canvas-line">
                    <canvas id="line" height=50 class="chart chart-line" chart-data="lineData"
                            chart-options='lineOptions' chart-labels="lineLabels"></canvas>
                </div>
            </div>
        </div>
        <div class="stats-clicks-panel">
            <div class="panel">
                <div class="panel-heading">
                    Referrers
                </div>
                <div class="panel-body">
                    <canvas id="doughnut" class="chart chart-doughnut"
                            chart-data="doughnutData" chart-labels="doughnutLabels">
                    </canvas>
                </div>
            </div>

            <div class="panel">
                <div class="panel-heading">
                    Countries
                </div>
                <div class="panel-body">
                    <canvas id="pie" class="chart chart-pie"
                            chart-data="pieData" chart-labels="pieLabels">
                    </canvas>
                </div>
            </div>
        </div>

        <div class="stats-clicks-panel">
            <div class="panel">
                <div class="panel-heading">
                    Platforms
                </div>
                <div class="panel-body">
                    <canvas id="base" class="chart chart-horizontal-bar" chart-options="horibarOptions"
                            chart-data="baseData" chart-labels="baseLabels">
                    </canvas>
                </div>
            </div>

            <div class="panel">
                <div class="panel-heading">
                    Browsers
                </div>
                <div class="panel-body">
                    <canvas id="bar" class="chart chart-bar" chart-options="barOptions"
                            chart-data="barData" chart-labels="barLabels">
                    </canvas>
                </div>
            </div>
        </div>
    </div>

</div>



